node_modules
src/.editorconfig
src/.npmrc
src/.prettierrc*
src/.vscode/*
src/build/*
src/dist
src/out
src/.DS_Store
src/.eslintcache
src/*.log*
src/logs
src/npm-debug.log*
src/yarn-debug.log*
src/yarn-error.log*
src/pnpm-debug.log*
src/lerna-debug.log*
src/pids
src/*.pid
src/*.seed
src/*.pid.lock
src/coverage                
src/*.lcov
src/.nyc_output
src/jspm_packages/
src/*.tsbuildinfo
src/.npm
src/.env
src/.env.test
src/.env.production
src/dist_electron/